services:
  - type: web
    name: jarvis-bot
    env: python
    plan: free

    buildCommand: "pip install -r requirements.txt"
    startCommand: "python jarvistest/jarvistest/app.py"
    autoDeploy: true

    healthCheckPath: /health
    healthCheckInterval: 10
    healthCheckTimeout: 5
    healthCheckMaxRetries: 3

    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: BOT_USERNAME
        sync: false
      - key: DB_PATH
        value: /data/data.db
        sync: false

    disk:
      name: jarvis-data
      mountPath: /data
      sizeGB: 1
